@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 100%;
  padding: 0;
  text-align: left;
}

body {
  background-color: #f3f6f4;
  font-family: 'Inter', sans-serif;
  color: #1a1a1a;
}

* {
  user-select: none;
}

html {
  scroll-behavior: smooth;
}